<div class="lg:w-2/3 w-full lg:m-auto m-0">
  <div class="text-white font-bold p-5 block lg:rounded-lg bg-gray-800 w-full">
    <span class="text-3xl text-center w-full mt-10 mb-10 block">Welcome to Neptune Rent!</span>
    <span class="text-xl text-center w-full mt-10 mb-10 block">Tech provider of the sea</span>
  </div>
  <div class="p-5 text-blue-700 w-full">
    <span class="font-bold text-center text-2xl block w-full">Our story</span>
    <hr class="bg-blue-700 h-2 mt-7 mb-7 rounded-md">
    <p class="text-lg">
      Neptune rent began as a school project, to prove that we can create a website :D
    </p>
  </div>
</div>
