<div id="confirm-modal" class="fixed top-0 z-10 h-screen w-screen hidden flex-wrap bg-black bg-opacity-45">
    <div class="flex flex-col rounded-lg p-5 bg-gray-800 w-fit justify-self-center align-middle">
        <span class="text-white mt-10 mb-10">Do you really want to delete this product?</span>
        <hr>
        <div class="flex">
            <button class="text-white bg-red-800 m-2 rounded-md flex-1 p-2" (click)="deleteProduct(this.id)">Yes</button>
            <button class="text-black bg-white m-2 rounded-md flex-1 p-2" (click)="toggleModal(false)">No</button>
        </div>
    </div>
</div>

<button class="p-5" (click)="addTestProduct()">ADD TEST PRODUCT</button>

<div class="m-2 bg-gray-800 text-white p-3 rounded-lg flex md:flex-row flex-col ">
    <div class="flex-1">
        <span class="text-2xl m-2">Administrators' product editor menu</span>
        <p class="text-md m-2">Attention! Deleting a product removes it forever!</p>
    </div>
    <div class="flex-1 h-full block mt-auto mb-auto relative">
        <button class="p-3 bg-blue-300 rounded-lg float-right text-blue-900 font-bold" routerLink="/producteditor/new/0">Add new product</button>
    </div>
</div>

<div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 rounded-lg xl:max-w-[80vw] xl:ml-auto xl:mr-auto 2xl:max-w-[80vw]">
    <div *ngFor="let product of products" class="p-3 m-1 rounded-lg dark:bg-gray-800 dark:border-gray-700 ">
        <div class="flex md:block">
            <div *ngIf="!product.image_url || product.image_url == 'test'" class="2xl:h-80 md:h-60 min-h-30 w-full inline-block neptune-product-image flex-1 rounded-sm" [style]="{'background-image':'url(cat.jfif)'}">
            </div>
            <div *ngIf="product.image_url != 'test'" class="2xl:h-80 md:h-60 min-h-30 w-full inline-block neptune-product-image flex-1 rounded-sm" [ngStyle]="{'background-image':'url('+getImagePath(product.image_url)+')'}">
            </div>
            <div class="flex-1 m-2 md:m-0 min-h-40 relative">
                <div>
                    <h5 class="mb-2 text-1xl font-bold tracking-tight text-gray-900 dark:text-white">{{product.name}}</h5>
                </div>
                <div>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-base">{{product.description}}</p>
                </div>
                <div class="absolute bottom-0">
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 justify-end w-full">{{product.price}}$</p>
                </div>
            </div>
            
        </div>
        <button routerLink="/producteditor/{{product.category}}/{{product.id}}" class="m-2 w-1/3 justify-center float-right inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-3 focus:outline-none focus:ring-blue-300">
            More
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </button>
        <div class="p-2">
            <button class="w-full h-10 bg-red-800 text-white rounded-lg" (click)="startDelete(product.id)">Delete</button>
        </div>
    </div>
</div>

