<div id="confirm-modal" class="fixed top-0 z-10 h-screen w-screen hidden flex-wrap bg-black bg-opacity-30">
    <div class="flex flex-col rounded-lg p-5 bg-gray-800 w-fit justify-self-center align-middle">
        <span class="text-white mt-10 mb-10">Do you really want to delete this user?</span>
        <hr>
        <div class="flex">
            <button class="text-white bg-red-800 m-2 rounded-md flex-1 p-2" (click)="deleteUser(this.uid)">Yes</button>
            <button class="text-black bg-white m-2 rounded-md flex-1 p-2" (click)="toggleModal(false)">No</button>
        </div>
    </div>
</div>

<div class="m-2 bg-gray-800 text-white p-3 rounded-lg">
    <span class="text-2xl m-2">Administrators' user editor menu</span>
    <p class="text-md m-2">Attention! Deleting a user removes it forever!</p>
</div>

<div *ngFor="let user of users" class="dark:bg-gray-800 flex md:flex-row flex-col mt-10 md:mr-10 md:ml-10 mr-3 ml-3 rounded-xl 2xl:w-2/3 2xl:ml-auto 2xl:mr-auto">
    <div class="md:w-1/4 w-1/2 block p-5">
        <img src="https://img.freepik.com/premium-vector/avatar-profile-icon-flat-style-female-user-profile-vector-illustration-isolated-background-women-profile-sign-business-concept_157943-38866.jpg" class="my-image rounded-xl" alt="...">
    </div>
    <div class="md:p-5 p-2 md:w-3/4">
        <div class="text-white md:text-4xl text-lg mb-3 overflow-hidden">
            {{user.displayName}}
        </div>
        <hr>
        <div class="mt-2 text-white text-lg overflow-hidden">
            {{user.email}}
        </div>
        <div class="row">
            <div class="col p-2">
                <div class="form-check form-switch">
                    <input (change)="change(user.uid)" [(ngModel)]="user.claims.admin" class="w-5 h-5 text-blue-600 rounded-sm ring-offset-gray-800 focus:ring-2 bg-gray-700 dark:border-gray-600" type="checkbox">
                    <label class="form-check-label p-2 text-white" for="admin">Admin</label>
                </div>
            </div>
        </div>
        <div class="col">
            <button (click)="setCustomClaims(user.uid,{admin:true})" type="button" class="rounded-lg p-3 text-black bg-blue-400">Add Admin</button>
        </div>
        <div class="col">
            <button (click)="startDeleteUser(user.uid)" type="button" class="rounded-lg p-3 text-white bg-red-800 mt-5">Delete user</button>
        </div>
    </div>
</div>
