<main class="w-full max-w-[100vw] flex mt-36 flex-col gap-10 justify-center items-center py-12">
    <div class="flex flex-col gap-6">
        <img class="mx-auto h-10 w-auto" src="logo.png" alt="NeptuneLogo">

        <h2 class="logintext text-center text-3xl font-bold tracking-tight">Login to Neptune Rent!</h2>
        
        <h3 class="logintext text-center text-lg font-normal tracking-tight">Don't have account? 
          <a class="group transition-all duration-300 ease-in-out" routerLink="/register">
            <span class="bg-left-bottom bg-gradient-to-r from-blue-900 to-gray-950 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out font-bold">
                Register here!
            </span>
          </a>
        </h3>
    </div>

    <form class="sm:mx-auto sm:w-full sm:max-w-sm flex flex-col gap-3">
        <div>
            <input for="email" placeholder="Email address" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" id="email" name="email" type="email" autocomplete="email" required class="input-filed w-full py-1.5 peer outline-none ring px-4 h-12 ring-blue-500 duration-500 focus:ring-2 relative placeholder:duration-300 placeholder:absolute focus:placeholder:pt-10 text-xs shadow-xl shadow-gray-400/20 focus:shadow-none focus:rounded-md focus:ring-blue-500 placeholder:text-gray-400">
            <span class="duration-500 opacity-0 mb-2 peer-focus:opacity-100 text-gray-500 text-xs -translate-y-12 peer-focus:translate-y-0">Email Address</span>
        </div>
        <div>
            <input for="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="Password" id="password" name="password" type="password" autocomplete="password" required class="w-full py-1.5 peer outline-none ring px-4 h-12 border-0 ring-blue-500 duration-500 focus:ring-2 relative placeholder:duration-300 placeholder:absolute focus:placeholder:pt-10 text-xs shadow-xl shadow-gray-400/20 focus:shadow-none focus:rounded-md focus:ring-blue-500 placeholder:text-gray-400">
            <span class="duration-500 opacity-0 mb-2 peer-focus:opacity-100 text-gray-500 text-xs -translate-y-12 peer-focus:translate-y-0">Password</span>
        </div>
        <button [disabled]="auth.getLoadingStatus()" type="submit" (click)="login()" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 relative" role="status">
            <span *ngIf="auth.getLoadingStatus()" class="spinner"></span>
            <span *ngIf="!auth.getLoadingStatus()">Log in</span>
        </button>
        <button type="button" (click)="forgotPassword()" class="rounded-md">Forgot password</button>
        <button (click)="loginWithGoogle()" type="button" class="flex items-center justify-center gap-2 w-full rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition">
            <svg class="w-5 h-5" viewBox="0 0 48 48">
                <path fill="#EA4335" d="M24 9.5c3.2 0 5.8 1.1 7.7 2.9l5.8-5.8C33.7 2.6 29.2 0 24 0 14.6 0 6.9 6.2 3.6 14.8l6.9 5.4C12.5 13.2 17.8 9.5 24 9.5z"/>
                <path fill="#4285F4" d="M46.1 24.5c0-1.6-.1-2.8-.4-4H24v7.6h12.4c-.5 2.5-2 4.6-4.2 6l6.6 5.1c3.8-3.5 6.1-8.7 6.1-14.7z"/>
                <path fill="#FBBC05" d="M10.5 28.2c-.6-1.8-1-3.7-1-5.7s.4-3.9 1-5.7l-6.9-5.4C2.5 15.4 1 19.5 1 24s1.5 8.6 4.1 12.1l6.9-5.4z"/>
                <path fill="#34A853" d="M24 48c5.2 0 9.7-1.7 12.9-4.5l-6.6-5.1c-1.8 1.2-4 1.9-6.3 1.9-6.1 0-11.3-4.1-13.1-9.7l-6.9 5.4C6.9 41.8 14.6 48 24 48z"/>
                <path fill="none" d="M0 0h48v48H0z"/>
            </svg>
            Continue with Google
        </button>
    </form>
</main>