.logintext{
    background-image: linear-gradient(to right, #008CFF, #000F1B);
    background-clip: border-box;
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: normal;
}

button {
    position: relative;
    height: 40px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
}

.spinner {
    border: 2px solid transparent;
    border-top: 2px solid white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 25%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

button[disabled] .spinner {
    visibility: visible;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
