.router-outlet {
    display: block;
    min-height: 100vh;
}
.neptune-product-image {
  background-size: cover;
  background-position: center;
}
.neptune-hover-inset-border {
  border-style: solid;
  border-color: aqua;
  border-width: 0px;
  border-radius: 0.5rem;
  transition-duration: 0.3s;
}
.neptune-hover-inset-border:hover {
  border-width: 5px;
  transition-duration: 0.3s;
}
[id^=neptune-dropdown] {
  display: none;
}
