<div class="md:flex xl:w-2/3 w-full mr-auto ml-auto">
    <div class="bg-gray-800 rounded-lg p-2 m-2 flex-1 md:flex">
        <img src="uploads/4c9169b.png" alt="Product Management" class="rounded-md flex-1 max-h-fit w-1/2">
        <div class="md:m-2 w-full relative flex-1">
            <p class="text-white text-lg md:m-0 mb-5 mt-5">Edit or delete products here.</p>
            <button routerLink="editormenu" class="p-2 font-bold rounded-lg text-center w-full bg-green-600 md:h-1/5 min-h-fit md:absolute bottom-0">Products</button>
        </div>
    </div>
    <div class="bg-gray-800 rounded-lg p-2 m-2 flex-1 md:flex">
        <img src="icon-5359554_640.webp" alt="User Management" class="rounded-md flex-1 max-h-fit w-1/2">
        <div class="md:m-2 w-full relative flex-1">
            <p class="text-white text-lg md:m-0 mb-5 mt-5">Modify user permissions or delete users here.</p>
            <button routerLink="usereditor" class="p-2 font-bold rounded-lg text-center w-full bg-green-600 md:h-1/5 min-h-fit md:absolute bottom-0">Users</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>