<div *ngIf="loading" class="inline-block ml-auto mr-auto bg-orange-700">Betöltés...</div>

<div *ngIf="error" class="error-message">{{ error }}</div>

<div *ngIf="!loading && product" class="dark:bg-gray-800 flex mt-10 mr-10 ml-10 rounded-xl">
    <div class="flex-1 m-2 relative">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" (click)="edit('name')" class="float-right size-6 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" /></svg>
            <h1 class="text-white m-2 text-5xl mb-5">
                <ng-container *ngIf="editingField !== 'name'; else inputName">
                    {{ product.name }}
                </ng-container>
                <ng-template #inputName>
                    <input [(ngModel)]="product.name" class="bg-gray-800 text-white rounded-md p-2 text-xl" />
                </ng-template>
            </h1>
        </div>
        <hr>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" (click)="edit('price')" stroke="currentColor" class="float-right size-6 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" /></svg>
            <p class="text-white text-xl m-2">
                <span class="font-bold">Price: </span>
                <ng-container *ngIf="editingField !== 'price'; else inputPrice">
                    ${{ product.price }}
                </ng-container>
                <ng-template #inputPrice>
                    <input [(ngModel)]="product.price" class="bg-gray-800 text-white rounded-md p-2 text-xl" />
                </ng-template>
            </p>
        </div>
        <div class="w-full">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" (click)="edit('description')" stroke="currentColor" class="float-right size-6 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" /></svg>
            <p class="text-white text-xl dark:bg-slate-700 rounded-lg p-5 w-full">
                <ng-container *ngIf="editingField !== 'description'; else inputDescription">
                    {{ product.description }}
                </ng-container>
                <ng-template #inputDescription class="w-full">
                    <textarea [(ngModel)]="product.description" class="bg-gray-800 text-white rounded-md p-2 text-xl w-full" ></textarea>
                </ng-template>
            </p>
        </div>
        <button (click)="save()"class="text-xl text-white dark:bg-green-800 p-5 rounded-lg m-2 w-fit popup"><p class="block float-left">Save</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
            </svg>
        </button>
    </div>
    <div class="flex-1 m-5 relative">
        <img [src]="product.image" alt="" onerror="src='cat.jfif'" class="float-right w-full rounded-lg">
        <svg (click)="edit('image')" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" (click)="edit('image')" stroke="currentColor" class="absolute float-right size-6 text-white">
            <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
        </svg>
    </div>
</div>
