<div *ngIf="loggedUser" class="xl:w-3/4 xl:ml-auto xl:mr-auto bg-gray-800 flex rounded-lg mt-5">
    <div class="flex-3 p-3">
        <img *ngIf="loggedUser.photoURL" [src]="loggedUser.photoURL" class="rounded-lg">
        <img *ngIf="!loggedUser.photoURL" src="cat.jfif" class="rounded-lg">
    </div>
    <div class="flex-1 p-3 text-white">

        <span class="text-3xl">{{loggedUser.displayName}}</span>
        <hr class="mt-2 mb-2">
        <button class="m-2 ml-0 p-2 bg-yellow-500 text-yellow-950 font-bold rounded-lg w-fit" routerLink="/cart/{{loggedUser?.uid}}">
          <div class="flex">
            <span>Go to cart</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 ml-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
            </svg>
          </div>
        </button>
        <div class="bg-gray-600 p-2 rounded-lg">
          <div class="m-2">Email address: {{loggedUser.email}}</div>
          <div class="m-2">Phone number: {{loggedUser.phoneNumber}}</div>
        </div>

        <div class="">
          <div class="form-floating mb-2 mt-2 w-2/3 h-fit p-2">
              <label for="dpnameInput">Change display name: </label>
              <input [(ngModel)]="loggedUser.displayName" type="text" class="form-control rounded-md bg-slate-900 p-2 float-right  w-1/2" id="dpnameInput">
          </div>
          <div class="form-floating mb-2 mt-2 w-2/3 h-fit p-2">
              <label for="emailInput">Change email address: </label>
              <input [(ngModel)]="loggedUser.email" type="text" class="form-control rounded-md bg-slate-900 p-2 float-right  w-1/2" id="emailInput">
          </div>
          <div class="form-floating mb-2 mt-2 w-2/3 h-fit p-2">
              <label for="phoneInput">Change phone number: </label>
              <input [(ngModel)]="loggedUser.phoneNumber" type="text" class="form-control rounded-md bg-slate-900 p-2 float-right w-1/2" id="phoneInput">
          </div>
          <div class="form-floating mb-2 mt-2 w-2/3 h-fit p-2">
            <label for="passwordInput">Enter new password: </label>
            <div class="float-right flex w-1/2">
              <input [(ngModel)]="loggedUser.password" [type]="passwordVisibility" class="form-control rounded-l-md bg-slate-900 p-2 flex-3 w-full" id="passwordInput">
              <button (click)="changeVisibility()" class="bg-blue-500 p-2 rounded-r-md float-right">
                <svg *ngIf="passwordVisibility == 'password'" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6  flex-1">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>
                <svg *ngIf="passwordVisibility == 'text'" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 flex-1">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
                </svg>
              </button>
            </div>
          </div>
          <button type="button" (click)="saveChanges()"  class="p-2 mt-3 bg-green-700 rounded-lg">
            <div class="flex">
              <span>Save changes</span>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 ml-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
              </svg>
            </div>
          </button>
        </div>
    </div>
</div>

<div class="xl:w-3/4 xl:ml-auto xl:mr-auto bg-gray-800 rounded-lg mt-5 text-lg text-white">
  <div class="m-4"><span>Vásárláshoz töltsd ki a szükséges adatokat:</span></div>
  <div class="flex">
    <div class="flex-1">
      <ul class="">
        <li class="flex m-2">
          <label for="zipInput" class="flex-1 text-right p-2">Zip code: </label>
          <input id="zipInput" type="text" [(ngModel)]="zip" placeholder="zip" class="flex-1 p-2 rounded-md bg-gray-500">
        </li>
        <li class="flex m-2">
          <label for="nameInput" class="flex-1 text-right p-2">Name: </label>
          <input id="nameInput" type="text" [(ngModel)]="name" placeholder="name" class="flex-1 p-2 rounded-md bg-gray-500">
        </li>
        <li class="flex m-2">
          <label for="cityInput" class="flex-1 text-right p-2">City: </label>
          <input id="cityInput" type="text" [(ngModel)]="city" placeholder="city" class="flex-1 p-2 rounded-md bg-gray-500">
        </li>
        <li class="flex m-2">
          <label for="addr1Input" class="flex-1 text-right p-2">Address line 1: </label>
          <input id="addr1Input" type="text" [(ngModel)]="addr1" placeholder="address line 1" class="flex-1 p-2 rounded-md bg-gray-500">
        </li>
        <li class="flex m-2">
          <label for="addr2Input" class="flex-1 text-right p-2">Address line 2: </label>
          <input id="addr2Input" type="text" [(ngModel)]="addr2" placeholder="address line 2" class="flex-1 p-2 rounded-md bg-gray-500">
        </li>
        <li class="flex m-2">
          <label for="countryInput" class="flex-1 text-right p-2">Zip code: </label>
          <input id="countryInput" type="text" [(ngModel)]="country" placeholder="country" class="flex-1 p-2 rounded-md bg-gray-500">
        </li>
        <li class="flex m-2">
          <label for="nickInput" class="flex-1 text-right p-2">Nickname: </label>
          <input id="nickInput" type="text" [(ngModel)]="nick" placeholder="nickname" class="flex-1 p-2 rounded-md bg-gray-500">
        </li>
      </ul>
    </div>
    <div class="flex-1">
      <button (click)="bruh()" class="mr-auto ml-auto flex h-10 bg-green-700 p-2 rounded-lg text-md">Save changes</button>
    </div>
  </div>
</div>
