<main class="w-full max-w-[100vw] flex mt-36 flex-col gap-10 justify-center items-center py-12">
    <div class="flex flex-col gap-6">
        <img class="mx-auto h-10 w-auto" src="logo.png" alt="NeptuneLogo">

        <h2 class="logintext text-center text-3xl font-bold tracking-tight">Register to Neptune Rent!</h2>
        
        <h3 class="logintext text-center text-lg font-normal tracking-tight">Already have account?
          <a class="group transition-all duration-300 ease-in-out" routerLink="/login">
            <span class="bg-left-bottom bg-gradient-to-r from-blue-900 to-gray-950 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out font-bold">
                Login here!
            </span>
          </a>
        </h3>
    </div>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="sm:mx-auto sm:w-full sm:max-w-sm flex flex-col gap-3">
        <div>
          <input
            formControlName="email"
            placeholder="Email address"
            id="email"
            type="email"
            autocomplete="email"
            required
            class="input-filed w-full py-1.5 peer outline-none ring px-4 h-12 ring-blue-500 duration-500 focus:ring-2 relative placeholder:duration-300 placeholder:absolute focus:placeholder:pt-10 text-xs shadow-xl shadow-gray-400/20 focus:shadow-none focus:rounded-md focus:ring-blue-500 placeholder:text-gray-400"
          />
          <span
            class="duration-500 opacity-0 mb-2 peer-focus:opacity-100 text-gray-500 text-xs -translate-y-12 peer-focus:translate-y-0"
            >Email Address</span
          >
          <p *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-red-500 text-sm">
            Please enter a valid email address.
          </p>
        </div>
        <!-- <div>
          <input
            formControlName="username"
            placeholder="Username"
            id="username"
            type="text"
            required
            class="input-filed w-full py-1.5 peer outline-none ring px-4 h-12 ring-blue-500 duration-500 focus:ring-2 relative placeholder:duration-300 placeholder:absolute focus:placeholder:pt-10 text-xs shadow-xl shadow-gray-400/20 focus:shadow-none focus:rounded-md focus:ring-blue-500 placeholder:text-gray-400"
          />
          <span
            class="duration-500 opacity-0 mb-2 peer-focus:opacity-100 text-gray-500 text-xs -translate-y-12 peer-focus:translate-y-0"
            >Username</span
          >
          <p *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched" class="text-red-500 text-sm">
            Username is required.
          </p>
        </div> -->
        <div>
          <input
            formControlName="password"
            placeholder="Password"
            id="password"
            type="password"
            autocomplete="password"
            required
            class="w-full py-1.5 peer outline-none ring px-4 h-12 border-0 ring-blue-500 duration-500 focus:ring-2 relative placeholder:duration-300 placeholder:absolute focus:placeholder:pt-10 text-xs shadow-xl shadow-gray-400/20 focus:shadow-none focus:rounded-md focus:ring-blue-500 placeholder:text-gray-400"
          />
          <span
            class="duration-500 opacity-0 mb-2 peer-focus:opacity-100 text-gray-500 text-xs -translate-y-12 peer-focus:translate-y-0"
            >Password</span
          >
          <p *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-red-500 text-sm">
            Password must be at least 6 characters.
          </p>
        </div>

        <div>
          <input
            formControlName="passwordAgain"
            placeholder="Password again"
            id="passwordagain"
            type="password"
            autocomplete="password"
            required
            class="w-full py-1.5 peer outline-none ring px-4 h-12 border-0 ring-blue-500 duration-500 focus:ring-2 relative placeholder:duration-300 placeholder:absolute focus:placeholder:pt-10 text-xs shadow-xl shadow-gray-400/20 focus:shadow-none focus:rounded-md focus:ring-blue-500 placeholder:text-gray-400"
          />
          <span
            class="duration-500 opacity-0 mb-2 peer-focus:opacity-100 text-gray-500 text-xs -translate-y-12 peer-focus:translate-y-0"
            >Password again</span
          >
          <p *ngIf="registerForm.errors?.['passwordMismatch'] && registerForm.get('passwordAgain')?.touched" class="text-red-500 text-sm">
            Passwords do not match.
          </p>
        </div>
        <button
          type="submit"
          class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Register
        </button>
      </form>
    </main>

    <button (click)="loginWithGoogle()">
      google
    </button>